#search-button {
    width: 250px;
}

main {
    display: flex;
}
#search-city-select{
    flex-direction: column;
    margin-bottom:20px;
}

#weather-display{
    margin-bottom: 20px;
    flex-direction: column;
    border: solid;
}

#weather-tab {
    display: flex;
    flex-direction:column;
    
    padding:20px;
}

#future-weather {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    margin-right: 0.75re
}

#city-heading{
    font: bolder;
    font-size: 20px;
}

.input-group{
    flex-direction: column;
}

#text-box {
    width: 250px;
}

.forecast-card {
    background-color: rgb(5, 5, 116);
    padding-left:10px;
  }

  #city-heading {
    font-size: 30px;
    font: bolder;
  }

