#search-button {
    width: 250px;
    
    
}
main{
    display: flex;
}
#search-city-container{
    
    width: 30%;
}
#weather-display{
    background-color: aqua;
    
    flex-direction: column;
}

#weather-tab {
    display: flex;
    flex-direction:column;
    width: 70%;
}

#future-weather {
    display:flex;
    flex-wrap: wrap;
}